@page
@using Project_66_bit.Models
@using Project_66_bit.Models.Extensions
@model IndexModel
@{
    Layout = "_Home";
}
<link href="~/css/mainPage.css" rel="stylesheet" />
<div class="page-content-main">
    <div class="scroll project">
        @{
            if (Model.Projects.Count() == 0)
            {
                <div class="not-have-elem card">У вас пока нет проектов, добавьте новый проект</div>
            }
            else
            {
                int j = 0;
                foreach (var proj in Model.Projects)
                {
                    j++;
                    <div class="card proj-card">
                        <div class="name-wrap">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <a asp-page="Mod" asp-route-id="@proj.Id" class="name">@proj.Name</a>
                        </div>
                        <div class="info-wrap">
                            <div class="proj-type info-title">Тип : </div>
                            <div class="info">@proj.Type</div>
                        </div>
                        <div class="info-wrap">
                            <div class="proj-customer info-title">Заказчик : </div>
                            <div class="info">@proj.Customer.Name</div>
                        </div>
                        <div class="info-wrap">
                            <div class="proj-hour info-title">Стоимость часа : </div>
                            <div class="info">@proj.Cost</div>
                        </div>
                        <div class="info-wrap">
                            <div class="proj-date info-title">Даты выполнения проекта : </div>
                            <div class="info">@Html.DisplayFor(modelItem => proj.StartDate) - @Html.DisplayFor(modelItem => proj.EndDate)</div>
                        </div>
                        <div class="info-wrap">
                            <div class="project-status info-title">Статус : </div>
                            <div class="info">@proj.Status.DisplayName()</div>
                        </div>
                        <div class="btn-wrap">
                            <form method="post" class="btn-card-wrap">
                                <input type="submit" class="blue-btn btn" value="Сформировать проект на базе текущего" asp-page-handler="Copyproject" asp-route-id="@proj.Id" />
                            </form>
                            <div class="btn-card-wrap">
                                <button class="red-btn btn" id="show-delete-proj-btn-@j">Удалить проект</button>
                            </div>
                        </div>
                        <div class="confirm-space" id="confirm-space-proj-@j" style="display: none">
                            <div class="confirm-message-wrap">
                                <div class="warning-title">Вы действительно хотите безвозвратно удалить проект?</div>
                                <div class="confirm-btn-wrap">
                                    <form method="post">
                                        <button class="delete-ok blue-btn btn" asp-page-handler="Delete" asp-route-id="@proj.Id" asp-route-isProj="@true">Ok</button>
                                    </form>
                                    <button class="delete-cancel blue-btn btn" id="hide-delete-proj-btn-@j">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="scroll module">
        @{
            if (Model.Modules.Count() == 0)
            {
                <div class="not-have-elem card">У вас пока нет модулей, добавьте новый модуль</div>
            }
            else
            {
                int i = 0;
                foreach (var module in Model.Modules)
                {
                    i++;
                    <div class="module-card card">
                        <div class="name-wrap">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <a class="name mod-info" asp-page="Mod" asp-route-id="@module.ProjectId" asp-route-modId="@module.Id">@module.Name | @module.Project.Name</a>
                        </div>
                        <div class="info-wrap">
                            <div class="proj-customer info-title">Количество часов : </div>
                            <div class="info">@module.Hours</div>
                        </div>
                        <div class="btn-wrap">
                            <div class="btn-card-wrap">
                                <button class="similar-mod-btn blue-btn btn" id="similar-mod-btn-@i">Проекты cо схожими модулями</button>
                            </div>
                            <div class="btn-card-wrap">
                                <button class="red-btn btn" id="show-delete-mod-btn-@i">Удалить модуль</button>
                            </div>
                        </div>
                        <div class="confirm-space" id="confirm-space-mod-@i" style="display: none">
                            <div class="confirm-message-wrap">
                                <div class="warning-title">Вы действительно хотите безвозвратно удалить модуль?</div>
                                <div class="confirm-btn-wrap">
                                    <form method="post">
                                        <button class="delete-ok blue-btn btn" asp-page-handler="Delete" asp-route-id="@module.Id" asp-route-isProj="@false">Ok</button>
                                    </form>
                                    <button class="delete-cancel blue-btn btn" id="hide-delete-mod-btn-@i">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="similar-modules" id="similar-modules-@i" style="display: none">
                            @{
                                var flag = true;
                                foreach (var proj in Model.Projects)
                                {
                                    foreach (var mod in Model.Modules)
                                    {
                                        if (proj.Id == mod.ProjectId && mod != module)
                                        {
                                            <a class="module-name module-info" asp-page="Mod" asp-route-id="@proj.Id" asp-route-modId="@module.Id">@mod.Name | @proj.Name</a>
                                            flag = false;
                                        }
                                    }
                                }
                                if (flag)
                                {
                                    <div class="not-have-elem">У вас пока нет схожих модулей, добавьте новый модуль</div>
                                }
                            }
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="setting-place">
        <form class="search-wrap">
            <input class="search-input" type="text" placeholder="Искать здесь...">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        <div class="add-proj-btn-wrap">
            <button class="add-proj-btn blue-btn btn" onclick="addProjectCardToggle()">+ Добавить проект</button>
        </div>
        <div class="add-card card" id="add-proj-card-id" style="display: none">
            <i class="fa fa-times" aria-hidden="true" onclick="document.getElementById('add-proj-card-id').style.display = 'none'"></i>
            <form method="post" autocomplete="off" class="add-form">
                <div class="input-wrap"><input class="add-input" placeholder="Название проекта..." asp-for="NewProject.Name" required /></div>
                <div class="input-wrap"><input class="add-input" placeholder="Тип проекта..." asp-for="NewProject.Type" required /></div>
                <div class="input-wrap"><input class="add-input" placeholder="Стоимость часа..." asp-for="NewProject.Cost" required /></div>
                <div class="add-proj-title">Выберите статус проекта :</div>
                <div class="select-wrap">
                    <select class="add-select add-input" asp-for="NewProject.Status" asp-items="@Html.GetEnumSelectList<ProjectStatus>()"></select>
                </div>
                <div class="add-proj-title">Выберите даты проекта :</div>
                <div class="input-wrap-date">
                    <input class="add-input-date" asp-for="NewProject.StartDate" asp-format="{0:dd/MM/yyyy}">
                    <i class="delimiter"></i>
                    <input class="add-input-date" asp-for="NewProject.EndDate" asp-format="{0:dd/MM/yyyy}">
                </div>
                <div class="add-proj-title">Заказчик :</div>
                <div class="customer-card">
                    <div class="input-wrap"><input class="add-input customer-name-input" placeholder="ФИО..." asp-for="NewCustomer.Name" required /></div>
                    <div class="exist-customers-card" style="display: none"></div>
                    <div class="input-wrap"><input class="add-input customer-email-input" placeholder="Email..." asp-for="NewCustomer.Email" required /></div>
                    <div class="input-wrap">
                        <input class="add-input customer-phone-input customerPhoneNumber" asp-for="NewCustomer.PhoneNumber" id="online_phone" type="tel" autofocus="autofocus"
                               value="+7(___)___-__-__"
                               pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"
                               placeholder="+7(___)___-__-__" required />
                    </div>
                </div>
                <div class="input-wrap">
                    <input type="submit" class="create-proj blue-btn btn" value="Создать проект">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/js/addProjectToggle.js"></script>
<script src="~/js/similarModToggle.js"></script>
<script src="~/js/mainSearch.js"></script>
<script src="~/js/customerSearch.js"></script>
<script src="~/js/phoneFormat.js"></script>
