@page
@using Project_66_bit.Models
@using Project_66_bit.Models.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Home";
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/colors/blue.css" id="theme" rel="stylesheet" />
<link href="~/css/index.css" rel="stylesheet" />
<div class="text-center">
    <div class="cardFix">
        @{
            if (Model.Projects.Count == 0)
            {
                <div class="emptyMessage"><span>У Вас пока нет проектов. Добавьте новый проект</span></div>
            }
            foreach (var proj in Model.Projects)
            {
                <div class="card1 card">
                    <div class="nameProject"><a asp-page="Mod" asp-route-id="@proj.Id" class="size">@proj.Name</a></div>
                    <div class="type"><p>Тип : @proj.Type</p></div>
                    <div class="type"><p>Заказчик : @proj.Customer.Name</p></div>
                    <div class="type"><p>Стоимость часа : @proj.Cost</p></div>
                    <div class="type"><p>@Html.DisplayFor(modelItem => proj.StartDate) - @Html.DisplayFor(modelItem => proj.EndDate)</p></div>
                    <div class="type2"><p>Статус : @proj.Status.DisplayName()</p></div>
                    <div><a href="" class="form btn btn-info btn-rounded waves-effect waves-light m-b-40">Сформировать проект на базе текущего</a></div>
                    <div class="line"></div>
                </div>
            }
        }
    </div>
    <div class="did">
        <form>
            <input type="text" placeholder="Искать здесь...">
            <button type="submit"></button>
        </form>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="AddProject fix">
        <div class="add">
            <button class="form12 btn btn-info btn-rounded waves-effect waves-light m-b-40" id="myBtn">+ Добавить проект</button>
        </div>
        <div id="myModal" class="batton card">
            <form method="post">
                <a class="close btn waves-effect waves-light m-b-40"></a>
                <div class="baton"><input class="login" placeholder="Название проекта" asp-for="NewProject.Name" required /></div>
                <div class="baton"><input class="login" placeholder="Тип проекта" asp-for="NewProject.Type" required /></div>
                <div class="baton"><input class="login" placeholder="Стоимость часа" asp-for="NewProject.Cost" required /></div>
                <div class="baton">
                    <p class="status">Выберите статус проекта :</p>
                    <select asp-for="NewProject.Status" asp-items="@Html.GetEnumSelectList<ProjectStatus>()">
                    </select>
                </div>
                <p class="status">Выберите дату проекта :</p>
                <div class="baton date"><input asp-for="NewProject.StartDate" asp-format="{0:dd/MM/yyyy}"> - <input asp-for="NewProject.EndDate" asp-format="{0:dd/MM/yyyy}"></div>
                <div class="Customer"><p class="pos">Заказчик</p></div>
                <div class=" CustomerCard">
                    <div class="baton"><input class="login" placeholder="ФИО" asp-for="NewCustomer.Name" required /></div>
                    <div class="baton"><input class="login" placeholder="email" asp-for="NewCustomer.Email" required /></div>
                    <div class="baton"><input class="login" placeholder="Телефон" asp-for="NewCustomer.PhoneNumber" required /></div>
                    @*<div class="baton"><input type="submit" class="login" value="Добавить существующего заказчика" /></div>
                        <div class="customersField">
                            @{
                                int j = 0;
                                foreach (var customer in Model.Customers)
                                { asp-format="{0:dd/MM/yyyy}"
                                    j++;
                                    <div class="card card1 cardModule" id="card-@j">
                                        <div class="nameCustomer"><p class="size">@customer.Name</p></div>
                                        <div class="customerEmail"><p>@customer.Email</p></div>
                                        <div class="customerPhoneNum"><p>@customer.PhoneNumber</p></div>
                                    </div>
                                }
                            }
                        </div>*@
                </div>
                <input type="submit" class="form22 btn btn-info btn-rounded waves-effect waves-light m-b-40" value="Создать проект">
            </form>
        </div>
    </div>
    <div class="fixModule">
        @{  int i = 0;
            if (Model.Modules.Count == 0)
            {
                <div class="emptyMessage"><span>У Вас пока нет модулей. Создайте новый проект</span></div>
            }
            foreach (var module in Model.Modules)
            {
                i++;
                <div class="card card1 cardModule">
                    <div class="nameModule"><p class="size">@module.Name (@module.Project.Name)</p></div>
                    <div class="timeModule"><p>Количество часов : @module.Hours</p></div>
                    <div class="line lineModule" id="line-@i"></div>
                    <button class="tel-@i module formMOdule btn btn-info btn-rounded waves-effect waves-light m-b-40">Проекты по схожему модулю</button>
                    <div class="card-@i contentMOdule" id="tel-@i">
                        @foreach (var proj in Model.Projects)
                        {
                            foreach (var mod in Model.Modules)
                            {
                                if (proj.Id == mod.ProjectId)
                                {
                                    <div class="card insidecard">
                                        <div class="nameModule"><p class="">@mod.Name (@proj.Name)</p></div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
<script src="~/js/index.js"></script>
<script src="~/js/Module.js"></script>
<style>
    .fixed {
        position: fixed;
    }

    .form22 {
        color: white;
    }

    .cardFix {
        position: relative;
        left: -150px;
    }
</style>
