@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Home";
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/colors/blue.css" id="theme" rel="stylesheet" />
<link href="~/css/index.css" rel="stylesheet" />
<div>
    <div class="cardFix">
        @{
            if (Model.Projects.Count() == 0)
            {
                <div class="doNotHaveAnyProject">У вас пока нет проектов , добавьте новый проект</div>
            }
            else
            {
                foreach (var proj in Model.Projects)
                {
                    <div class="card1 card">
                        <div class="nameProject"><a asp-page="Mod" asp-route-id="@proj.Id" class="size">@proj.Name</a></div>
                        <div class="type"><p>Тип : @proj.Type</p></div>
                        <div class="type"><span>Заказчик : </span><span>@proj.Customer.Name</span></div>
                        <div class="type"><p>Стоимость часа : @proj.Cost</p></div>
                        <div class="type"><p>@Html.DisplayFor(modelItem => proj.StartDate) - @Html.DisplayFor(modelItem => proj.EndDate)</p></div>
                        <div class="type2"><p>Статус : @proj.Status.DisplayName()</p></div>
                        <div>
                            <form method="post">
                                <input type="submit" class="form btn btn-info btn-rounded waves-effect waves-light m-b-40" value="Сформировать проект на базе текущего" asp-page-handler="Copyproject" asp-route-id="@proj.Id" />
                            </form>
                        </div>
                        <div class="line"></div>
                    </div>
                    }
                }
            }
        </div>
    <div class="did">
        <form>
            <input class="search" type="text" placeholder="Искать здесь...">
            <button type="submit"></button>
        </form>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="AddProject fix">
        <div class="add">
            <button class="form12 btn btn-info btn-rounded waves-effect waves-light m-b-40" id="myBtn">+ Добавить проект</button>
        </div>
        <div id="myModal" class="batton card">
            <form metod="POST">
                <button class="close btn waves-effect waves-light m-b-40"></button>
                <div class="baton"><input type="text" class="login " placeholder="Название проекта" asp-for="Person.Name" required /></div>
                <div class="baton"><input type="text" class="login" placeholder="Тип проекта" asp-for="Person.Type" required /></div>
                <div class="baton"><input type="text" class="login" placeholder="Стоимость часа" asp-for="Person.Cost" required /></div>
                <div class="baton">
                    <p class="status">Выберите статус проекта :</p>
                    <select name="theme" asp-for="Person.Status">
                        <option value="1">Планирование</option>
                        <option value="2">Пред.Разработка</option>
                        <option value="3">В разработке</option>
                        <option value="4">Завершен</option>
                    </select>
                </div>
                <p class="status">Выберите дату проекта :</p>
                <div class="baton date"><input type="date" name="calendar1"> - <input type="date" name="calendar2" asp-for="Person.Date"></div>
                <div class="Customer"><p class="pos">Заказчик</p></div>
                <div class=" CustomerCard">
                    <div class="baton"><input class="login customerName" placeholder="ФИО" asp-for="NewCustomer.Name" required /></div>
                    <div class="baton"><input class="login" placeholder="email" asp-for="NewCustomer.Email" required /></div>
                    <div class="baton"><input class="login customerPhoneNumber" placeholder="Телефон" asp-for="NewCustomer.PhoneNumber" required /></div>
                </div>
                <input type="submit" class="form22 btn btn-info btn-rounded waves-effect waves-light m-b-40" value="Создать проект">
            </form>
        </div>
    </div>
    <div class="fixModule">
        @{
            if (Model.Modules.Count() == 0)
            {
                <div class="doNotHaveAnyProject">У вас пока нет модулей , добавьте новый проект</div>
            }
            else
            {
                int i = 0;
                foreach (var module in Model.Modules)
                {
                    <div class="card card1 cardModule" id="card-@i">
                        <div class="nameModule"><a class="size" asp-page="Mod" asp-route-id="@module.ProjectId">@module.Name (@module.Project.Name)</a></div>
                        <div class="timeModule"><p>Количество часов : @module.Hours</p></div>
                        <div class="line lineModule" id="line-@i"></div>
                        <button class="tel-@i module formMOdule btn btn-info btn-rounded waves-effect waves-light m-b-40">Проекты по схожему модулю</button>
                        <div class="card-@i contentMOdule" id="tel-@i">
                            @{
                                var flag = true;
                                foreach (var proj in Model.Projects)
                                {
                                    foreach (var mod in Model.Modules)
                                    {
                                        if (proj.Id == mod.ProjectId)
                                        {
                                            <a class="card" asp-page="Mod" asp-route-id="@proj.Id">
                                                <div class="card nameModule1">@mod.Name (@proj.Name)</div>
                                            </a>
                                            flag = false;
                                        }
                                    }
                                }
                                if (flag)
                                {
                                    <div class="doNotHaveAnyProject">У вас пока нет модулей , добавьте новый модуль</div>
                                }
                            }
                        </div>
                    </div>
                    
                    i++;
                    }
                }
            }
        </div>
</div>
<script src="~/js/index.js"></script>
<script src="~/js/Module.js"></script>
<script src="~/js/search.js"></script>
<script src="~/js/phoneFormat.js"></script>
<style>
    .fixed {
    }

    .form22 {
        color: white;
    }
</style>
