@page
@model RazorProject.Pages.ModModel
@{
    Layout = "_Home";
}
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/colors/blue.css" id="theme" rel="stylesheet">
<link href="~/css/index.css" rel="stylesheet">
<link href="~/css/index2.css" rel="stylesheet">
<div class="text-center">
    <div class="hoverup index">
        <ul class="main-menu index">
            <li class="index">
                <a href="#services" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">SW</a>
                <ul class="sub-menu index">
                    <li class="index"><a href="Index">Список проектов</a></li>
                    <li class="index"><a href="Index3">Справочник по модулям</a></li>
                </ul>
            </li>
        </ul>
        <h3 class="display-4">Список проектов</h3>
        <div>
            <a href="prifle" class="profile"></a>
        </div>
    </div>
    <div class="nameofProject">@Model.Proj.Name</div>
    <div class="fixfix">
    @{
        if (Model.Modules.Count == 0)
        {
            <h1 class="emptyMessage">У Вас пока нет модулей. Добавьте новый модуль</h1>
        }
        int i = 0;
        foreach (var module in Model.Modules)
        {
            i++;
            <div class="card1 card " id="card-@i">
                <div class="nameProject"><p class="size">@module.Name</p></div>
                <div class=""><p>Количество часов : @module.Hours</p></div>
                <div class="">
                    <button class="hitOne form btn btn-info btn-rounded waves-effect waves-light m-b-40" id="puck-@i">Добавить задачу</button>
                    <div class="card-@i tel-@i line-@i but-@i card2 card card3"  >
                        <div class="nameInput"><input type="text" placeholder="Название задачи"></div>
                        <div class="dateInput"><input type="date" placeholder="Дата начала">-<input type="date" placeholder="Дата конца"></div>
                        <div class="timeInput"><input type="text" placeholder="Время задачи"></div>
                        <div><button class="puck-@i tel-@i get btn btn-info btn-rounded waves-effect waves-light" onclick="document.getElementById(this.classList[0]).click()">Создать задачу</button></div>
                    </div>
                </div>
                <div class="line" id="line-@i"></div>
                <button class="card-@i tel-@i line-@i but-@i cardi-@i collapsible tests btn" id="but-@i"></button>
                <div class="card-@i content" id="tel-@i">
                    @if (Model.Tasks.Count == 0)
                     {
                        <h1 class="emptyMessage">У Вас пока нет задач. Добавьте новую задачу</h1>
                     }
                    @foreach (var task in Model.Tasks.Where(t => t.ModuleId == module.Id))
                     {
                        <div class="card2 card">
                            <div class="nameTask"><p class="sizeTask">@task.Name</p></div>
                            <div class="dateTask"><p>@task.StartDate.ToShortDateString()-@task.EndDate.ToShortDateString()</p></div>
                            <div class="timeTask"><p>@task.Hours</p></div>
                        </div>
                     }
                </div>
            </div>
        }
    }
    <div class="visit card">
        <div class="type">
            <p>
                Статус проекта :
                <select name="theme">
                    <option value="0">Планирование</option>
                    <option value="1">Пред.Разработка</option>
                    <option value="2">В разработке</option>
                    <option value="3">Завершен</option>
                </select>
            </p>
        </div>
        <div class="type"><p>Тип : @Model.Proj.Type</p></div>
        <div class="type"><p>Стоимость часа (руб.) : @Model.Proj.Cost</p></div>
        <div class="type"><p>Срок действия : @Model.Proj.StartDate.ToShortDateString() - @Model.Proj.EndDate.ToShortDateString()</p></div>
        <div class="Vso"><p class="pos">Заказчик</p></div>
        <div class="CustomerCard">
            <div class="zakaz">@Model.Customer</div></div>
            <div class="zakaz">+7(970) - 505 - 40 - 77</div>
            <div class="zakaz">gazik$$$@@gmail.com </div>
        </div>
    </div>
    <div class="add">
        <button class="fixe form12 btn btn-info btn-rounded waves-effect waves-light m-b-40" id="myBtn">+ Добавить Модуль</button>
    </div>
        </div>
</div>
<style>
    .nameofProject {
        position: fixed;
        text-align: center;
        font-size: 30px;
        border: 3px solid black;
        border-radius: 10px;
        width: 99.5%;
        color: #1e88e5;
        width: 99.5%;
        background-color: white;
        z-index: 1;
    }
    .card3{
        display:none;
        position:relative;
    }
    .fixfix{
        z-index:0;
    }
    .index{
        z-index:10;
    }
</style>
<script src="~/js/index2.js">
</script>
<script>
    var colls = document.getElementsByClassName("hitOne");

    for (var i = 0; i < colls.length; i++) {
        colls[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
                document.getElementById(content.classList[1]).style.display = "none";
                document.getElementById(content.classList[0]).style.height = "130px";
                document.getElementById(content.classList[1]).style.top = "-100px";
                document.getElementById(content.classList[2]).style.top = "-80px";
                document.getElementById(content.classList[3]).style.top = "-200px";
            } else {
                content.style.display = "block";
                document.getElementById(content.classList[1]).style.display = "block";
                document.getElementById(content.classList[0]).style.height = "650px";
                document.getElementById(content.classList[1]).style.top = "0px";
                document.getElementById(content.classList[2]).style.top = "-210px";
                document.getElementById(content.classList[3]).style.top = "-344px";
            }
        });
    }
</script>

