@page
@using Project_66_bit.Models
@using Project_66_bit.Models.Extensions
@model RazorProject.Pages.ModModel
@{
    Layout = "_Home";
}
<link href="~/css/mainPage.css" rel="stylesheet">
<link href="~/css/projPage.css" rel="stylesheet">
<div class="page-content-proj">
    <div class="scroll module">
        @{
            if (Model.Modules.Count() == 0)
            {
                <div class="not-have-elem card">У вас пока нет модулей, добавьте новый модуль</div> }
            else
            {
                int k = 0;
                foreach (var module in Model.Modules)
                {

                    k++;
                    if (module.Id == Model.IsOpenProblems)
                    {
                        <script type="text/javascript">
                                var showProblemsListBtn = 'show-problems-list-btn-@k';
                        </script>
                    }
                    <div class="module-card card">
                        <div class="name-wrap-mod"><div class="mod-name">@module.Name</div></div>
                        <div class="info-wrap">
                            <div class="info-title">Количество часов : </div>
                            <div class="info">@module.Hours</div>
                        </div>
                        <div class="btn-wrap">
                            <div class="module-btn-wrap">
                                <div class="btn-card-wrap">
                                    <button class="problem-list-btn blue-btn btn" id="show-problems-list-btn-@k">
                                        <i class="fa fa-list-ul" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <i></i>
                                <div class="btn-card-wrap">
                                    <button class="blue-btn btn" id="add-problem-btn-@k">+ Добавить задачу</button>
                                </div>
                            </div>
                            <div class="btn-card-wrap">
                                <button class="red-btn btn" id="show-delete-mod-btn-@k">Удалить модуль</button>
                            </div>
                        </div>
                        <div class="confirm-space" id="confirm-space-mod-@k" style="display: none">
                            <div class="confirm-message-wrap">
                                <div class="warning-title">Вы действительно хотите безвозвратно удалить модуль?</div>
                                <div class="confirm-btn-wrap">
                                    <form method="post">
                                        <button class="delete-ok blue-btn btn" asp-page-handler="DeleteMod" asp-route-id="@module.Id" asp-route-projId="@Model.Project.Id">Ok</button>
                                    </form>
                                    <button class="delete-cancel blue-btn btn" id="hide-delete-mod-btn-@k">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="add-problem-card" id="add-problem-card-@k" style="display: none">
                            <i class="fa fa-times" aria-hidden="true" onclick="document.getElementById('add-problem-card-@k').style.display = 'none'"></i>
                            <form method="post" class="add-form" autocomplete="off">
                                <div>
                                    <div class="input-wrap"><input class="add-input" placeholder="Название задачи..." asp-for="NewProblem.Name" required /></div>
                                    <div class="input-wrap"><input class="add-input" placeholder="Время выполнения задачи..." asp-for="NewProblem.Hours" required /></div>
                                    <div class="input-wrap-date">
                                        <input class="add-input-date" asp-for="NewProblem.StartDate" asp-format="{0:dd/MM/yyyy}" required />
                                        <i class="delimiter"></i>
                                        <input class="add-input-date" asp-for="NewProblem.EndDate" asp-format="{0:dd/MM/yyyy}" required />
                                    </div>
                                    <div class="input-wrap">
                                        <input type="submit" class="blue-btn btn" value="Создать задачу" asp-page-handler="Problem" asp-route-id="@module.Id" asp-route-projId="@Model.Project.Id">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="scroll-problem" id="scroll-problem-list-@k" style="display: none">
                            @if (Model.Problems.Where(p => p.ModuleId == module.Id).FirstOrDefault() == null)
                            {
                                <div class="not-have-elem card">У вас пока нет задач, добавьте новую задачу</div> }
                            else
                            {
                                int t = 0;
                                @foreach (var problem in Model.Problems.Where(p => p.ModuleId == module.Id))
                                {
                                    t++;
                                    <div class="problem-card">
                                        <div class="info-wrap problem-name-wrap">
                                            <div class="problem-name">@problem.Name</div>
                                        </div>
                                        <div class="info-wrap">
                                            <div class="info-title">Количество часов : </div>
                                            <div class="info">@problem.Hours</div>
                                        </div>
                                        <div class="info-wrap">
                                            <div class="info-title">Даты выполнения задачи : </div>
                                            <div class="info">@Html.DisplayFor(modelItem => problem.StartDate) - @Html.DisplayFor(modelItem => problem.EndDate)</div>
                                        </div>
                                        <div class="problem-btn-wrap">
                                            <button class="red-btn btn" id="show-delete-problem-btn-@t">Удалить задачу</button>
                                        </div>
                                        <div class="confirm-space" id="confirm-space-problem-@t" style="display: none">
                                            <div class="confirm-message-wrap">
                                                <div class="warning-title">Вы действительно хотите безвозвратно удалить задачу?</div>
                                                <div class="confirm-btn-wrap">
                                                    <form method="post">
                                                        <button class="delete-ok blue-btn btn" asp-page-handler="DeleteProblem" asp-route-id="@problem.Id" asp-route-modId="@module.Id" asp-route-projId="@Model.Project.Id">Ok</button>
                                                    </form>
                                                    <button class="delete-cancel blue-btn btn" id="hide-delete-problem-btn-@t">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="setting-place">
        <div class="proj-info card">
            <div class="proj-card-name-wrap">
                <div class="info-proj-name">@Model.Project.Name</div>
            </div>
            <div class="info-wrap">
                <div class="info-title">Статус проекта : </div>
                <div class="info">@Model.Project.Status.DisplayName()</div>
            </div>
            <div class="info-wrap">
                <div class="info-title">Тип : </div>
                <div class="info">@Model.Project.Type</div>
            </div>
            <div class="info-wrap">
                <div class="info-title">Стоимость часа : </div>
                <div class="info">@Model.Project.Cost P</div>
            </div>
            <div class="info-wrap">
                <div class="info-title">Даты выполнения проекта : </div>
                <div class="info">@Html.DisplayFor(modelItem => @Model.Project.StartDate) - @Html.DisplayFor(modelItem => @Model.Project.EndDate)</div>
            </div>
            <div class="customer-wrap">
                <div class="info-title-customer">Заказчик : </div>
                <div class="info-wrap">
                    <div class="info-title">Имя заказчика : </div>
                    <div class="info">@Model.Customer.Name</div>
                </div>
                <div class="info-wrap">
                    <div class="info-title">Email заказчика : </div>
                    <div class="info">@Model.Customer.Email</div>
                </div>
                <div class="info-wrap">
                    <div class="info-title">Контактный номер заказчика : </div>
                    <div class="info">@Model.Customer.PhoneNumber</div>
                </div>
            </div>
            <div class="btn-wrap btn-wrap-marg">
                <div class="btn-card-wrap">
                    <button class="blue-btn btn" onclick="document.getElementById('edit-proj-info-card').style.display = 'block'">Редактировать данные о проекте</button>
                </div>
                <div class="confirm-space" id="edit-proj-info-card" style="display: none">
                    <div class="edit-card card" id="add-proj-card-id">
                        <i class="fa fa-times" aria-hidden="true" onclick="document.getElementById('edit-proj-info-card').style.display = 'none'"></i>
                        <form method="post" autocomplete="off" class="add-form">
                            <div class="input-wrap"><input class="add-input" placeholder="Название проекта..." asp-for="@Model.Project.Name" required /></div>
                            <div class="input-wrap"><input class="add-input" placeholder="Тип проекта..." asp-for="@Model.Project.Type" required /></div>
                            <div class="input-wrap"><input class="add-input" placeholder="Стоимость часа..." asp-for="@Model.Project.Cost" required /></div>
                            <div class="add-proj-title">Выберите статус проекта :</div>
                            <div class="select-wrap">
                                <select class="add-select add-input" asp-for="@Model.Project.Status" asp-items="@Html.GetEnumSelectList<ProjectStatus>()"></select>
                            </div>
                            <div class="add-proj-title">Выберите даты проекта :</div>
                            <div class="input-wrap-date">
                                <input class="add-input-date" asp-for="@Model.Project.StartDate">
                                <i class="delimiter"></i>
                                <input class="add-input-date" asp-for="@Model.Project.EndDate">
                            </div>
                            <div class="add-proj-title">Заказчик :</div>
                            <div class="customer-card">
                                <div class="input-wrap"><input class="add-input" placeholder="ФИО..." asp-for="@Model.Customer.Name" required /></div>
                                <div class="input-wrap"><input class="add-input" placeholder="Email..." asp-for="@Model.Customer.Email" required /></div>
                                <div class="input-wrap"><input class="add-input customerPhoneNumber" placeholder="Телефон..." asp-for="@Model.Customer.PhoneNumber" required /></div>
                            </div>
                            <div class="input-wrap">
                                <input type="submit" class="create-proj blue-btn btn" value="Подтвердить изменения" asp-page-handler="EditProject" asp-route-projId="@Model.Project.Id" asp-route-custId="@Model.Customer.Id">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="btn-card-wrap">
                    <button class="red-btn btn" onclick="showConfirmProj()">Удалить проект</button>
                </div>
            </div>
            <div class="confirm-space" id="confirm-space-proj" style="display: none">
                <div class="confirm-message-wrap">
                    <div class="warning-title">Вы действительно хотите безвозвратно удалить проект?</div>
                    <div class="confirm-btn-wrap">
                        <form method="post">
                            <button class="delete-ok blue-btn btn" asp-page-handler="DeleteProj" asp-route-id="@Model.Project.Id">Ok</button>
                        </form>
                        <button class="delete-cancel blue-btn btn" onclick="hideConfirmProj()">Cancel</button>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                let confirmSpaceProj = document.getElementById("confirm-space-proj");

                function showConfirmProj() {
                    confirmSpaceProj.style.display = "block";
                }

                function hideConfirmProj() {
                    confirmSpaceProj.style.display = "none";
                }
            </script>
        </div>
        <div class="btn-space-wrap">
            <div class="btn-space">
                <button class="doc-btn blue-btn btn">Сформировать отчет по проекту<i class="fa fa-file-text" aria-hidden="true"></i></button>
            </div>
            <div class="btn-space">
                <button class="doc-btn blue-btn btn" onclick="showModuleFormToggle()">+ Добавить Модуль</button>
            </div>
            <div class="add-module-card add-card card" id="add-module-card-id" style="display: none">
                <i class="fa fa-times" aria-hidden="true" onclick="document.getElementById('add-module-card-id').style.display = 'none'"></i>
                <form class="add-form" method="post" autocomplete="off">
                    <div class="input-wrap"><input class="add-input" placeholder="Название модуля..." asp-for="NewModule.Name" required /></div>
                    <div class="input-wrap">
                        <input type="submit" class="create-proj blue-btn btn" value="Создать модуль" asp-page-handler="Module" asp-route-id="@Model.Project.Id">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/problemToggle.js"></script>
<script src="~/js/showModuleForm.js"></script>
<script src="~/js/deleteModule.js"></script>
<script src="~/js/deleteProblem.js"></script>
<script>
    if (@Model.IsOpenProblems) {
        document.getElementById(showProblemsListBtn).click();
    }
</script>
